/* .Product {
 border: 7px solid rgb(255, 47, 47);
 border-radius: 44px;
margin-bottom: 15px;
/* padding:  0 10px 0 10px; */
/* font-style: inherit;
color:rgb(255, 47, 255);
margin-left: 40px;
width: 200px;
height:200px;
    
} */ */
